// Overrides the default styles of form-inputs

// removing the shadow when the input text if focused
$input-focus-box-shadow: unset !important;
$form-select-focus-box-shadow: unset !important;
$form-check-input-focus-box-shadow: unset !important;


// default font family
// $input-font-family: 'GeneralSans-Medium';
// default padding
$input-padding-x: 0.75rem;
$input-padding-y: 0.75rem;
$input-border-radius: 12px;
// $input-border-color: #016e7f;
// $input-font-weight: 600;
$btn-padding-y: 0.75rem;
$btn-padding-x: 0.75rem;



.floating-label {
  > label {
    color: #adadad;
    font-size: 1rem;
  }
}

.form-control.is-invalid:focus {
  box-shadow: unset !important;
}

.toggle-show-password {
  // background-color: pink;
  position: absolute;
  right: 20px;
  top: 20px;
  color: #016e7f;
  border-bottom: 1px solid #016e7f;
  font-size: 13px;
  cursor: pointer;
}

.galago-form-control{
  padding-left: 36px;
}

.galago-form-control::placeholder {
  color: #333;
}

.form-control:invalid, .form-control.is-invalid {
  background-image: unset;
  padding-right: 0.75em;
}

.was-validated .form-select:invalid:not([multiple]):not([size]), 
.was-validated .form-select:invalid:not([multiple])[size="1"], 
.form-select.is-invalid:not([multiple]):not([size]), 
.form-select.is-invalid:not([multiple])[size="1"] {
  --bs-form-select-bg-icon: unset;
  padding-right: 0.75em;
}


.form-switch{
  margin: 0px;
  .form-check-input{ width: 40px; height: 20px;}
}